.scan {
    background-color: #FFFFFF;
    color: black;
    font-family: monospace;
    border-radius: 5vh;
    border: 3px solid greenyellow
}
.scan:hover {
    background-color: #000000;
}
.popup {
    background-color: #ffffff;
    color: black;
    
}

.popup .leaflet-popup-content-wrapper {
    background:#ffffff;
    color:black;
    font-size:16px;
    line-height:24px;
    font-family: monospace;
    }
  .popup .leaflet-popup-content-wrapper a {
    color:#ffffff;
    }
.statgrid {
    grid-template-columns: 1;
}

.showme { 
   position: absolute;
   margin-bottom: 10vh ;
   font-size: 5px;
}

.search {
    position: absolute;
    display: flex;
    margin-top: 0vh;
    margin-bottom: 90vh;

    z-index: 999;
    height: auto;
    width: auto;
    background-color: ffffff;
    color: black;

}

.stats {
    width: auto;
    height: auto;
    position: fixed;
    margin-top: 25vh;
    margin-bottom: 36vh;
    z-index: 999;
    background-color: #ffffff;
    font-size: 10px;
}

.piebox {
    position: fixed;
    z-index: 999;
    width: auto;
    text-align: right;
    justify-content: right;
    justify-self: right;
    align-items: right;
    align-self: right;
    align-content: right;

    background-color: #ffffff;



}
.pie {
    background-color: #ffffff;
    border-radius: 5vh;
    height: 16vh;
    width: 16vw;
   

}
.legendbutton {
    z-index: 9999;
}
.resources {
    position: relative;
    background-color: #ffffff;
    color: black;
    z-index: 999;
    width: 100vw;
    font-family: monospace;

}
.loadingmsg {
    position: absolute;
    z-index: 999;
    color: black;
    margin-top: 12vh;
    background-color: #ffffff;
    font-family: monospace;
}
.scanmsg {
    color: black;
    font-size: 12px;
    font-family: monospace;
    
}
.scanbutton {
    position: absolute;
    z-index: 9999;
}
.options {
    position: absolute;
    margin-top: 20vh;
    z-index: 9999;
}
.optionscontainer {
    height: 100vh;
    width: 20vw;
    position: absolute;
    z-index: 888;
    background-color: white;
}
.stats {
    background-color: white;
    z-index: 9999;
    position: absolute;
    margin-top: 35vh;
}